<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />


    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- <link rel="icon" href="demo_icon.gif" type="image/gif" sizes="16x16"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />

</head>

<body>

    <header class="header-innerpages">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="main_header" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand weblogo" href="">

                        <img src="assets/img/leanfra-logo-PNG.png" class="img-responsive" alt="Image">

                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">OUR ENVIRONMENT
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Page</a></li>
                                <li><a href="#">Page</a></li>
                                <li><a href="#">Page</a></li>
                                <li><a href="#">Page</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">PROFESSIONAL SERVICES</a>
                        </li>
                        <li>
                            <a href="#">COMPANY</a>
                        </li>
                        <li>
                            <a href="#">PRICING</a>
                        </li>
                        <li>
                            <a href="#">CONTACT US</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <div class="clearfix"></div>

        <div class="headertxttwocol cpuinnerheaderbg">
            <div class="container">
                <div class="inner-header-head">
                    <h2>Multi-tiered, latest generation GPUs. Powered by<br>
                        latest Tesla®, <strong>Titan RTX® and 2080ti RTX®.
                        </strong>
                    </h2>
                </div>
            </div>
        </div>

    </header>

    <main class="content_section">

        <div class="container">
            <div class="pageheadparaall">
                <h2>GPU Servers</h2>
                <p>Tiers to suit your every need</p>
            </div>
        </div>

        <div class="section protoytype-cpu">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="borderbox-ppla active">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="assets/img/Tier-1.png" class="img-responsive" alt="Image">
                                </div>
                                <div class="col-md-9">
                                    <h4>Prototyping tier</h4>
                                    <h5> TIER #1</h5>
                                    <div class="clearfix"></div>
                                    <p>GPUs: 10x RTX 2080 Ti, Memory 11G GDDR6
                                        Best for: and here examples of use</p>
                                </div>
                            </div>
                        </div>

                        <div class="borderbox-ppla">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="assets/img/Tier-2.png" class="img-responsive" alt="Image">
                                </div>
                                <div class="col-md-9">
                                    <h4>Proof of concept tier</h4>
                                    <h5 style="background: #987eee;">TIER #2</h5>
                                    <div class="clearfix"></div>
                                    <p>GPUs: 10x RTX 2080 Ti, Memory 24G GDDR6
                                        Best for: and here examples of use
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="borderbox-ppla">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="assets/img/Tier-3.png" class="img-responsive" alt="Image">
                                </div>
                                <div class="col-md-9">
                                    <h4>Production tier</h4>
                                    <h5 style="background: #6e51ce;"> TIER #3</h5>
                                    <div class="clearfix"></div>
                                    <p>10x PCIe Tesla V100 32G, Memory 32G HBM2
                                        Best for: and here examples of use</p>
                                </div>
                            </div>
                        </div>

                        <div class="borderbox-ppla">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="assets/img/Tier-4.png" class="img-responsive" alt="Image">
                                </div>
                                <div class="col-md-9">
                                    <h4>Lightning tier</h4>
                                    <h5 style="background: #4929b1;">TIER  #4</h5>
                                    <div class="clearfix"></div>
                                    <p>8x PCIe Tesla V100 32G, Memory 32G HBM2
                                        For extremely fast communication between GPUs
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="borderbox-ppla">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="assets/img/Tier-5.png" class="img-responsive" alt="Image">
                                </div>
                                <div class="col-md-9">
                                    <h4>Absolute best tier</h4>
                                    <h5 style="background: #24009b;">TIER  #5</h5>
                                    <div class="clearfix"></div>
                                    <p>16x PCIe Tesla V100 32G, Memory 32G HBM2
                                        The absolute best on the planet</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="purplebox-cpu">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h3>GPUs:</h3>
                                    
                                </div>
                                <div class="col-sm-7">
                                        <p>10x RTX 2080 Ti</p>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <h3>Memory</h3>
                                    
                                </div>
                                <div class="col-sm-7">

                                        <p>192GB DDR4 ECC 2666MHz
                                        </p>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <h3>CPUs</h3>
                                    
                                </div>
                                <div class="col-sm-7">

                                        <p>2x Xeon Silver 4114
                                            (10 Cores / 20 Threads each) </p>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <h3>Local storage
                                    </h3>
                                    
                                </div>
                                <div class="col-sm-7">

                                        <p>500GB NVMe+
                                        </p>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <h3>Remote storage
                                    </h3>
                                    
                                </div>
                                <div class="col-sm-7">

                                        <p>100GB NVMe
                                        </p>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <h3>Tensor cores:
                                    </h3>
                                    
                                </div>
                                <div class="col-sm-7">

                                        <p>544</p>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <h3>CUDA cores:
                                    </h3>
                                    
                                </div>
                                <div class="col-sm-7">

                                        <p>4352</p>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <h3>GPU Memory:
                                    </h3>
                                    
                                </div>
                                <div class="col-sm-7">

                                        <p>11G GDDR6
                                        </p>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <h3>Networking speed:
                                    </h3>
                                    
                                </div>
                                <div class="col-sm-7">

                                        <p>Infiniband HDR 100GB/s
                                            with CPU Offloading
                                            network cards </p>
                                    </div>
                            </div>

                            <div class="get-start-btn">
                                    <button type="submit" class="btn btn-primary getstartbtn bgcolorthree">GET STARTED <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></button>
                            </div>

                        </div>
                    </div>
                </div>

                


            </div>
            
        </div>
        <div class="brand-logos">
                <div class="container">
                    <!-- <img src="assets/img/Logos/DMTF_Redfish_logo_R.jpg" class="img-responsive" alt="brand Logo">
                    <img src="assets/img/Logos/Nvidia_logo.svg.png" class="img-responsive" alt="brand Logo"> -->
                    <img src="assets/img/Logos/ddr4-logo.png" class="img-responsive" alt="brand Logo">
                    <img src="assets/img/Logos/intel-logo.png" class="img-responsive" alt="brand Logo">
                    <img src="assets/img/Logos/lf-aps.png" class="img-responsive" alt="brand Logo">
                    <img src="assets/img/Logos/nvidia_rtx.png" class="img-responsive" alt="brand Logo">
                    <img src="assets/img/Logos/red-fish-logo.png" class="img-responsive" alt="brand Logo">
                    <!-- <img src="assets/img/Logos/rtx.png" class="img-responsive" alt="brand Logo">                -->
                </div>
            </div>

    </main>

    <footer>
        <div class="section startsnow">
            <div class="container">
                <div class="head-subhead">
                    <h3>Start now!</h3>
                    <p>Send a request to check our environment
                        or just simply talk with one of our experts.</p>
                </div>

                <div class="getcontact-btn">
                    <a href="" class="btn btn-white">GET STARTED <i class="fa fa-long-arrow-right"
                            aria-hidden="true"></i></a>
                    <a href="" class="btn btn-border">CONTACT US <i class="fa fa-long-arrow-right"
                            aria-hidden="true"></i></a>

                </div>

            </div>
        </div>

        <div class="middle-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/img/200px-png-white-bg.png" class="img-responsive" alt="Image">
                        <div class="socailmedia">
                            <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                            <a href="#"></a><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                            <a href="#"></a><i class="fa fa-envelope" aria-hidden="true"></i></a>
                            <a href="#"></a><i class="fa fa-github" aria-hidden="true"></i></a>
                            <a href="#"></a><i class="fa fa-volume-control-phone" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h3>Our Environment</h3>
                        <p><a href="#">Servers</a></p>
                        <p><a href="#">Network</a></p>
                        <p><a href="#">Storage</a></p>
                        <p><a href="#">Locations</a></p>
                    </div>
                    <div class="col-md-3">
                        <h3>Company
                        </h3>
                        <p><a href="#">Professional Services</a></p>
                        <p><a href="#">Pricing</a></p>
                        <p><a href="#">Contact Us</a></p>
                        <p><a href="#">About Us</a></p>
                        <p><a href="#">Career</a></p>
                        <p><a href="#">Privacy Policy</a></p>
                    </div>
                    <div class="col-md-3">
                        <h3>Datacentre Location</h3>
                        <p><a href="#">Location #1</a></p>
                        <p><a href="#">Location #2</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
                <div class="container">
                    <p>Leanfra Inc. © 2019. All rights reserved</p>
                </div>
            </div>
    </footer>

</body>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        // Main Header nav
        $(window).scroll(function () {
            var scroll = $(window).scrollTop();
            if (scroll > 70) {
                $("#main_header").css({
                    "background": "rgba(0,0,0,0.8)"
                });
                $("#main_header li a").css({
                    "color": "#fff"
                });
                $("a.navbar-brand.websitelogo-home").css({ "padding-top": "8px" });

            }
            else {
                $("#main_header").css("background", "none");
                $("#main_header li a").css({ "color": "#fff" });
            }
        });



    });
</script>

</html>