<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />


    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- <link rel="icon" href="demo_icon.gif" type="image/gif" sizes="16x16"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />

</head>

<body>

    <header class="header-innerpages">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="main_header"  role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand weblogo" href="">

                        <img src="assets/img/leanfra-logo-PNG.png" class="img-responsive" alt="Image">

                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">OUR ENVIRONMENT
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Page</a></li>
                                <li><a href="#">Page</a></li>
                                <li><a href="#">Page</a></li>
                                <li><a href="#">Page</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">PROFESSIONAL SERVICES</a>
                        </li>
                        <li>
                            <a href="#">COMPANY</a>
                        </li>
                        <li>
                            <a href="#">PRICING</a>
                        </li>
                        <li>
                            <a href="#">CONTACT US</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <div class="clearfix"></div>

        <div class="headertxttwocol cpuinnerheaderbg networkinginnerheaderbg">
            <div class="container">
                <div class="inner-header-head">
                    <h2>100 or 200Gb/s Infiniband. Lightspeed fast.
                    </h2>
                </div>
            </div>
        </div>

    </header>

    <main class="content_section">

        <div class="container">
            <div class="pageheadparaall">
                <h2>Networking</h2>
                <p>Fast. Really fast.</p>
            </div>
        </div>

        <div class="sixcolicontxt">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="assets/img/icon-bidirectional.png" class="img-responsive" alt="Image">
                            </div>
                            <div class="col-sm-9">
                                <p>16Tb/s of bidirectional throughput</p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-3">
                                <img src="assets/img/icon-msgs.png" class="img-responsive" alt="Image">
                            </div>
                            <div class="col-sm-9">
                                <p>15.6 billion messages per second</p>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-md-3">
                                <img src="assets/img/icon-latency.png" class="img-responsive" alt="Image">
                            </div>
                            <div class="col-sm-9">
                                <p>90ns of port-to-port switch latency</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="assets/img/icon-fips.png" class="img-responsive" alt="Image">

                            </div>
                            <div class="col-sm-9">
                                <p class="fips">Compliance with the Federal Information
                                    Processing Standards (FIPS)
                                </p>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-md-3">
                                <img src="assets/img/icon-encryption.png" class="img-responsive" alt="Image">

                            </div>
                            <div class="col-sm-9">
                                <p class="blocklevel">Block-level encryption enables protection
                                    between users sharing the same resources,
                                    as various encryption keys can be used</p>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-md-3">
                                <img src="assets/img/icon-port.png" class="img-responsive" alt="Image">
                            </div>
                            <div class="col-sm-9">
                                <p>Non-Blocking & Asynchronous ports</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="section designedwith">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="desigtxt">
                                <h4>Designed with data-centric
                                        architecture in mind: your network
                                        becomes a distributed processor.</h4>
                                    <p>Enable In-Network Computing and In-Network
                                        Memory capabilities, offloading even further
                                        computation to the network, which saves CPU
                                        cycles and increases the efficiency of the network.</p>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <img src="assets/img/object-cpu.png" class="img-responsive" alt="Image">

                    </div>
                </div>
            </div>
        </div>

        <div class="titlesubtitle">
            <div class="container">
                <div class="bare_ihti bare_ihti_center">
                    <h3>Title decribing this part</h3>
                    <p>Subtitle, a bit longer one like 7 words </p>
                    <iframe 
                        src="https://www.youtube.com/embed/XZmGGAbHqa0">
                    </iframe>
                </div>
            </div>
        </div>


    </main>

    <footer>
        <div class="section startsnow">
            <div class="container">
                <div class="head-subhead">
                    <h3>Start now!</h3>
                    <p>Send a request to check our environment
                        or just simply talk with one of our experts.</p>
                </div>

                <div class="getcontact-btn">
                    <a href="" class="btn btn-white">GET STARTED <i class="fa fa-long-arrow-right"
                            aria-hidden="true"></i></a>
                    <a href="" class="btn btn-border">CONTACT US <i class="fa fa-long-arrow-right"
                            aria-hidden="true"></i></a>

                </div>

            </div>
        </div>

        <div class="middle-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img src="assets/img/200px-png-white-bg.png" class="img-responsive" alt="Image">
                        <div class="socailmedia">
                            <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                            <a href="#"></a><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                            <a href="#"></a><i class="fa fa-envelope" aria-hidden="true"></i></a>
                            <a href="#"></a><i class="fa fa-github" aria-hidden="true"></i></a>
                            <a href="#"></a><i class="fa fa-volume-control-phone" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h3>Our Environment</h3>
                        <p><a href="#">Servers</a></p>
                        <p><a href="#">Network</a></p>
                        <p><a href="#">Storage</a></p>
                        <p><a href="#">Locations</a></p>
                    </div>
                    <div class="col-md-3">
                        <h3>Company
                        </h3>
                        <p><a href="#">Professional Services</a></p>
                        <p><a href="#">Pricing</a></p>
                        <p><a href="#">Contact Us</a></p>
                        <p><a href="#">About Us</a></p>
                        <p><a href="#">Career</a></p>
                        <p><a href="#">Privacy Policy</a></p>
                    </div>
                    <div class="col-md-3">
                        <h3>Datacentre Location</h3>
                        <p><a href="#">Location #1</a></p>
                        <p><a href="#">Location #2</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
                <div class="container">
                    <p>Leanfra Inc. © 2019. All rights reserved</p>
                </div>
            </div>
    </footer>

</body>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        // Main Header nav
        $(window).scroll(function() {
            var scroll = $(window).scrollTop();
            if (scroll > 70) {
                $("#main_header").css({
                    "background": "rgba(0,0,0,0.8)"
                });
                $("#main_header li a").css({
                    "color": "#fff"
                });
                $("a.navbar-brand.websitelogo-home").css({ "padding-top": "8px" });
    
            } 
            else {
                $("#main_header").css("background", "none");
                $("#main_header li a").css({"color": "#fff"});
            }
        });
    
        
    
    });
    </script>
</html>