<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />


    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- <link rel="icon" href="demo_icon.gif" type="image/gif" sizes="16x16"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
</head>
<body>
    <header class="header-innerpages">
        <div class="headertxttwocol cpuinnerheaderbg choiceinnerheader tryleanfra">
            <div class="container">
                <div class="section leanfra-pro">
                    <div class="tryleanfrafreeheadpara">
                        <div class="head-subhead">
                            <img src="assets/img/icon-LF-white.png" class="img-responsive" alt="Image">
                            <h3>Try Leanfra for Free!
                            </h3>
                            <p>Try our HPC environment for free,<br>
                                no credit card, no commitment in 3 simple steps!
                            </p>
                            <img src="assets/img/color-line.png" class="img-responsive colorline" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
</html>